body,td,th {
	font-family: Tahoma, Geneva, sans-serif;
	color: #000;
}

body {
	margin-top: 0px;
}

img {
	border-style: none;
}

a {
	color: #000;
	font-weight: bold;
	font-variant: normal;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.exclamation {
	font-weight: bold;
	font-size: x-large;
}
.footer {
	font-size: small;
	font-weight: normal;
}
.bigger {
	font-weight: bold;
	font-size: large;
}